/*color*/
.bg-darkred{
    background-color: #4E0000;
}

.bg-lightred{
background-color: #D16969;
}

/*text*/
.text-small{
    font-size: 1.25rem;
}
.text-medium{
    font-size: 1.5rem;
}
.text-large{
    font-size: 1.75rem;
}

.text-center{
    text-align: center;
}

/*image*/
.small-img{
    width: 40%;
}

.medium.img{
    width: 60%;
}
.large-img{
    width: 100%;
}
.float-left{
    float: left;
    margin-right: 10px;
}
.float-right{
    float: right;
    margin-left: 10px;
}