#navbar{
    flex-direction: column;
    padding-top: 25px; 
}
header{
    height: 100px;
    overflow: hidden;
}
#navbar ul li a{
    padding-top: 10px;
    padding-bottom: 15px;
}
h1{
    margin-bottom: 10px;
}
.main-container{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.left-area{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
}